
body {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-size:14px;
    line-height:1.78;
    color:#000;
    background-color:#fafaf9a2;
}

.navbar {
    background-color:#fafaf92d;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
}

.navbar ul {
    display: inline-flex;
    justify-content: right;
    list-style: none;
    
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    height:40px;
}   

.navbar a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 0 20px;
}

.navbar a:hover {
    text-decoration: none;
    color: burlywood;
    transition: color 0.3s;
}

.hero-section {
    background-image: url('img/home.jpg'); 
    background-size:100%; 
    background-position: center; 
    color: #fff; 
    text-align: left;
    padding: 350px; 
    min-height: 100px;
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgba(8, 8, 8, 0.566);
    overflow: hidden;
    height: 200px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    text-decoration: none;
    
}

.about {
    flex:1 0 calc(60% - 15px);
    margin-right: 10px;
}

.links {
    flex:0 0 calc(40% - 10px);
    display: block;
    text-align: center;
}

.icon {
    width:30px;
    height: 30px;
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    display: inline-block;
    vertical-align: middle;
}

.links h2 {
    margin-left: 10px;
    margin-right: 20px;
}

.links a {
    text-decoration: none !important;
}

footer {
    text-align: center;
    padding-bottom: 15px;
    margin-top: auto;
}

.projects {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: space-between;
    max-width: 100%;

}

.project {
    flex-basis: calc(33.33% - 20px); 
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid rgba(184, 177, 177, 0.566);
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px #56555498;
    transition: transform 0.2s, box-shadow 0.2s;
    
}

.project:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px rgb(160, 160, 144);
}

.projects a {
    text-decoration: none;
    color: #000;
}

.projects a:hover {
    color: rgb(160, 160, 144);
    transition: color 0.2s;
}


.project-details {
    display: flex;
    align-items: center;
}

.project-details video {
    width:365px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    
}

.content {
    text-align: left;
    padding: 10px;
    margin-right: 20px;
    overflow: hidden;
}

.project h2 {
    display: flex;
    align-items:start;
    margin-left: 120px;
    margin-top: 20px;
}

.projects h1 {
    margin-left :80px;
    margin-bottom: 40px;
}

@media (max-width: 768px) {
    .hero-section {
        padding: 100px; /* Adjust the padding for mobile view */
        font-size: 24px; /* Decrease the font size for better readability on mobile */
    }

    .container {
        flex-direction: column; /* Stack the container elements vertically */
        padding: 20px; /* Reduce the padding for mobile view */
    }

    .about {
        flex: 1; /* Allow the "about" section to occupy full width on mobile */
        margin-right: 0; /* Remove margin for better spacing */
    }

    .links {
        flex: 1; /* Allow the "links" section to occupy full width on mobile */
    }

    .links h2 {
        margin-left: 0; /* Adjust margin for better alignment on mobile */
        margin-right: 0; /* Adjust margin for better alignment on mobile */
    }
}

form {
    max-width: 500px;
    margin: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #878885;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #46453f;
}

body textarea {
    width: 520px;
    height: 100px;
    border: 1px solid #d6cfcf;
    border-radius: 8px;
}

.contact h2 {
    margin: 90px;
    text-align: center;
}

.opensource h1 {
    margin-left: 100px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.os-details {
    display: flex;
    align-items: center;
    padding: 50px;
    margin-left:50px;
}

.os-content {
    margin-left:300px;
    text-align: left;
    font-size: larger;

}

.os-details img {
    width: 450px;
    height: 200px;
}

.os-project {
    flex-basis: calc(33.33% - 20px); 
    text-align: center;
    margin-bottom: 40px;
    border: 1px solid rgba(184, 177, 177, 0.566);
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 40px;
    box-shadow: 0 0 10px #56555498;
    transition: transform 0.2s, box-shadow 0.2s; 
}

.os-project h2 {
    display: flex;
    align-items: start;
    margin-left: 120px;
    margin-top: 20px;
    text-decoration: none;
}

.os-content span {
    font-weight: bold;
}

.os-project a {
    text-decoration: none;
    color: #131211;
}

.os-project a:hover {
    color: rgb(160, 160, 144);
    transition: color 0.2s;
}

.os-project:hover {
    transform: scale(1.04);
    box-shadow: 0 0 20px rgb(160, 160, 144);
}

.project img {
    width: 400px;
    height: 200px;
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;

}

.terms {
    text-align: start;
    display: flex;
    margin-left: 100px;
    font-size: small;
}

@media screen and (max-width: 768px) {
    .project, .os-project {
        flex-basis: calc(50% - 20px);
    }

    .projects h1, .opensource h1, .terms {
        font-size: 24px;
    }
}


@media (max-width: 768px) {
    .navbar ul {
        display: none;
    }

    .navbar .hamburger {
        display: block; 
    }
}

@media (max-width: 768px) {
    .navbar.active ul {
        display: block; 
    }
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

h4 {
    margin-left: 100px;
}

/* By Hrushikesh. */
/* @Hk669 */